body{
  background-color:rgb(158, 148, 148);
  font-family: Arial;
  color: hsl(0, 0%, 100%);
}

.mensajeAdvertencia{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 40px;
  text-align: center;
  padding-top: 3%;
  background-color: rgb(219, 103, 103);
  color: rgb(163, 33, 33);
  border-radius: 4px;
}


article.preguntas{
  width:70%;
  background-color: rgb(119, 113, 113);
  padding: 14px;
  display: block;
  margin: 0 auto;
}


#formularioTest > img {
  width: 300px;
  margin-top: 18px;
}

button.enviarFormulario{
  width: 150px;
  height: 40px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}


.respuestaIncorrecta {
  color: rgb(146, 4, 4);
  background-color: rgb(219, 49, 49);
  border-radius: 5px;
}

.respuestaCorrecta {
  color: rgb(4, 146, 47);
  background-color: rgb(49, 219, 100);
  font-weight: bolder;
  border-radius: 5px;

}

