body{
    background: url(../resources/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    font-family: Arial;
    color: rgb(15, 24, 50);
    font-weight: bold;
  }

  main{
    position: relative;
    height: 100%;
  }

  #menuSeleccion{
    width: 50%;
    min-width: 600px;
    height: 300px;
    padding: 70px 0;
    background-color: rgba(241, 236, 236, 0.541);
    margin: 0 auto;
    position: relative;
    bottom: 0; top:150px;
    text-align: center;
  }

  section > h1 {
      text-align: center;
      position: relative;
      top: -50px;
  }

  #facil{
    width: 40%;
    margin-left: 5%;
    height: 300px;
    background: url('../resources/images/facilBg.jpg');
    background-repeat: no;
    background-size: cover;
    background-position: center right;
    float: left;
    position: relative;
    top: -45px;
    transition: all .6s;
    z-index: 1;
  }

  #facil > p, #dificil > p {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b1b1a;
    color: #fff;
    padding:10px;
    margin:5px;
    display: none;
  }

  #facil > h3, #dificil > h3 {
    background-color: #1b1b1a;
    color: #fff;
    line-height: 52px;
    position: relative;
    top: -20px;
  }

  #facil > p > i {
    zoom: 2;
    padding-right: 4px;
  }

  #dificil{
    width: 40%;
    height: 300px;
    background: url('../resources/images/proBg.jpg');
    background-repeat: no;
    background-size: cover;
    background-position: center;
    margin-right: 5%;
    background-color: red;
    float: right;
    position: relative;
    top: -45px;
}

  #facil:hover, #dificil:hover{
      cursor: pointer;

  }

  #facil:hover > p, #dificil:hover > p{
    display: block;
    position: absolutte;
    top: 20px;
    width: 90%;
    text-align: center;
    transform: translate(-52%,-50%);
}