

/*Destacadas*/

.destacadas-header {
    position:absolute;
}

#carouselDestacadas.carousel.slide {
    margin-top: 55px !important;
    width: 100%;
    max-width: 720px; !important
}

img.img-responsive{
    width: 720px;
    max-width: 720px;
}

.carousel-caption h4 {
    background-color: #00000042;
    padding: 3px;
}

.badge-categoria{
    background-color: #ffba00;
    color: #fff;
    border-radius: 0;
}

.carousel-inner h3 {
    position: relative;
    top: 39px;
    right: 0px;
}

.card-title{
    cursor: pointer;
}

h3 span.badge-pill {
    font-size: 0.6em;
}


/*Noticias normales*/

.card-body{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)!important;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)!important;
}

.mb-4:hover img  {
    cursor:pointer;
    -moz-transform: scale(0.99);
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
    max-width: 100%;
}

.mb-4:hover span.badge-fijo  {
    z-index: 1;
}

.mb-4 img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all .2s ease-in-out;

}

.badge-fijo{
    z-index: 1;
    position: absolute !important;
    top: 5px !important;
    left: 5px !important;
}

/* Cargando... */

#loading {
    display:none;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -10px;
    line-height: 20px;
    text-align: center;
}

/*FOOTER*/

footer{
    background-color:red;
    margin-top: 20px;
    height: 400px;
}
